@use "../mixins/fluid-size" as size;
@use "../mixins/disable-mob-hover" as mobile;

// Button prototype
// ===================================
.btn-proto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  border-style: solid;
  transition: var(--transition);
  cursor: pointer;

  &:focus {
    outline-color: transparent;
  }
}

// Button default
// ===================================
.btn-default {
  @extend .btn-proto;
  @include size.calculate(padding-top, 320px, 1780px, 22px, 29px);
  @include size.calculate(padding-bottom, 320px, 1780px, 22px, 29px);
  @include size.calculate(padding-right, 320px, 1780px, 20px, 36px);
  @include size.calculate(padding-left, 320px, 1780px, 20px, 36px);
  border-radius: 100px;
  @include size.calculate(font-size, 320px, 1780px, 18px, 22px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  &--sm {
    @extend .btn-proto;
    padding: 8px 12px;
    font-size: 13px;
    border-radius: 3px;
  }
}

// Button green
// ===================================
.btn-red {
  color: #fff;
  background-color: var(--brand-red);
  border-color: var(--brand-red);

  @media only screen and (max-width: 480px) {
    width: 100%;
  }

  @include mobile.hover {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
  }

  &:active {
    background-color: var(--black);
    border-color: var(--white);
  }
}

// Button zero
// ===================================
.btn-zero {
  @extend .btn-default;
  border-width: 1px;
  background-color: transparent;
  color: var(--black);

  @include mobile.hover {
    background-color: var(--black);
    color: var(--white);
  }
}

// Button
// ===================================
.btn {
  @extend .btn-default;
  @extend .btn-red;

  @include mobile.hover {
    // border-color: var(--white);
  }
}

// Button menu
// ===================================
.btn-more {
  @extend .btn-proto;
  @include size.calculate(padding, 320px, 1780px, 8px, 10px);
  border: none;
  border-radius: 8px;
  background-color: rgba(white, 0.2);

  @include mobile.hover {
    background-color: var(--white);

    svg use {
      fill: var(--black);
    }
  }

  svg {
    width: 24px;
    height: 24px;

    use {
      fill: var(--white);
    }
  }
}

// Button tab
// ===================================
.btn-tab {
  @extend .btn-proto;
  @extend .btn-zero;
  padding: 14px;
  border-width: 1px;
  border-radius: 1000px;
  border-color: rgba(142, 142, 156, 0.5);
  color: var(--gray);
  @include size.calculate(font-size, 320px, 1700px, 13px, 17px);

  @include mobile.hover {
    border-color: var(--white);
    color: var(--white);
  }
}

// Button round
// ===================================
.btn-round {
  @extend .btn-proto;
  @extend .btn-red;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-color: var(--brand-red);
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);

  @include mobile.hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--black);
  }
}