@use "../mixins/fluid-size" as size;
@use "../mixins/disable-mob-hover" as mobile;

// card proto
// ===================================
.card-proto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: var(--transitioin);
}