@use './button';
@use "../mixins/fluid-size" as size;
@use "../mixins/disable-mob-hover" as modile;

input {
  all: unset;
  box-sizing: border-box;
}

input {
  @include size.calculate(padding, 320px, 1380px, 16px, 18px);
  border: 1px solid var(--this-gray);
  border-radius: 100px;
  background-color: var(--this-gray);
  @include size.calculate(font-size, 320px, 1380px, 20px, 32px);
  font-weight: 500;
  text-align: left;
  color: var(--black);

  &::placeholder {
    color: var(--dark);
    font-weight: 300;
  }

  &:focus {
    background-color: var(--white);
    border-color: var(--black)
  }

  &[type="submit"] {
    @extend .btn; // Наследуем стили из кнопки

    @media only screen and (max-width: 480px) {
      width: auto;
    }
  }
}