@use "../mixins/fluid-size" as size;


// hero-inner
// ==============================
.hero-inner {
  position: relative;
  @include size.calculate(height, 320px, 1780px, 350px, 550px);

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .section__header {
    margin-top: auto;
    display: block;

    .breadcrumbs {
      margin-top: 20px;
    }
  }
}

// hero project
// =========================
.hero-project {
  background-color: var(--black);
  @include size.calculate(padding-top, 320px, 1780px, 80px, 200px);
  @include size.calculate(padding-bottom, 320px, 1780px, 80px, 200px);

  &__container {
    @extend .hero-inner__container;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @media only screen and (max-width: 880px) {
      display: block;
    }
  }

  &__subtitle {
    @include size.calculate(margin-bottom, 320px, 1780px, 10px, 20px);
  }

  &__subtext {
    color: var(--gray-text);
  }

  &__info {
    @include size.calculate(margin-top, 320px, 1780px, 20px, 60px);
    color: var(--gray-text);

    strong {
      color: var(--white);
    }

    > * + * {
      margin-top: 6px;
    }
  }

  &__back {
    @include size.calculate(margin-top, 320px, 1780px, 30px, 60px);
    @include size.calculate(margin-bottom, 320px, 1780px, 40px, 80px);
  }

  .section__header {
    display: block;
    flex: 1 0 60%;
    max-width: 900px;

    .title {
      @include size.calculate(font-size, 320px, 1780px, 60px, 100px);
      font-weight: 300;
      text-transform: none;
      letter-spacing: -0.02em;
    }
  }

  .section__header + .section__body {
    margin-top: 0;

    @media only screen and (max-width: 880px) {
      margin-top: 30px;
    }
  }

  .section__body {
    flex: 1 0 40%;
    @include size.calculate(padding-left, 320px, 1780px, 0px, 100px);

    @media only screen and (max-width: 880px) {
      max-width: none;
      padding-left: 0;
    }
  }

  .link-icon {
    @include size.calculate(margin-top, 320px, 1780px, 20px, 40px);
  }
}