/* loading */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  z-index: 100;

  &__screen {
    position: absolute;
    z-index: 10;
    width: 0%;
    height: 100vh;
    background-color: var(--brand-red);
    color: white;
    overflow: hidden;
  }
}
