@use "../mixins/fluid-size" as size;

.page {
  height: 100%;
  font-family: var(--font-family);
  @include size.calculate(font-size, 320px, 1780px, 14px, 17px);
  color: var(--dark-primary);
}

.page__body {
  margin: 0;
  min-width: var(--min-width);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}