<header class="header gsap-header">
  <div class="header__container container">
    <a class="element-logo" href="index.html">
      <span class="element-logo__img"></span>
    </a>
    <a href="tel:+7 (495) 888-55-66" class="element-phone header__phone" aria-label="Позвонить">+7 (495) 888-55-66</a>
    <div class="header__controls">
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="services.html">Услуги</a></li>
          <li><a href="portfolio.html">Проекты</a></li>
          <!-- <li><a href="team.html">Команда</a></li> -->
          <!-- <li><a href="contacts.html">Контакты</a></li> -->
        </ul>
      </nav>
      <div class="lang">
        <span>en</span>
      </div>
      <button class="btn-more js-menu-button">
        <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin">
          <use xlink:href="#icon-more"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
