img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

b {
  color: var(--dark-black);
}

a {
  color: var(--brand-blue);
}

.block {
  width: 100%;
  min-width: 100%;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

// Делаем копирайт Яндекс Карт невидимым
// [class*="copyrights-pane"] {
//   display: none !important;
// }

// Опционально. Длеаем карту чёрно-белой
// [class*="ground-pane"] {
//   filter: grayscale(1);
// }