@use "./mixins/fluid-size" as size;
@use "./mixins/disable-mob-hover" as modile;

// h1
// =========================
h1 {
	@include size.calculate(font-size, 320px, 1780px, 80px, 120px);
	font-weight: 300;
	line-height: 1;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

// h2
// =========================
h2 {
	@extend h1;
	@include size.calculate(font-size, 320px, 1780px, 60px, 80px);
}

// h3
// =========================
h3 {
	@extend h1;
	@include size.calculate(font-size, 320px, 1780px, 30px, 50px);
}

// h4
// =========================
h4 {
	@extend h1;
  @include size.calculate(font-size, 320px, 1780px, 28px, 34px);
}

// title
// =========================
.title {
	@extend h1;
	letter-spacing: -0.05em
}

// title hero
// =========================
.title-hero {
	@extend h1;
	@include size.calculate(font-size, 320px, 1780px, 60px, 160px);
	line-height: 0.9;
	letter-spacing: -0.06em;
}

// title category
// =========================
.title-category {
	@extend h1;
	@include size.calculate(font-size, 320px, 1780px, 30px, 50px);
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.02em;
}