// colors
:root {
  // Font
  --font-family: "Rubik", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

  // Layout
  --max-width: 1920px;
  --min-widht: 320px;
  --content-width: 1280px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --transition: all 0.3s ease-in-out;

  // Default colors
  --white: rgba(255, 255, 255, 1);
  --black: rgba(2, 3, 31, 1);

  // brand colors
  --red: rgba(255, 0, 61, 1);
  --gradient: linear-gradient(188deg, #009CCE 0%, #1BD9B6 60.69%, #9BEFB3 100%);

  // dark
  --dark: rgba(112, 112, 128, 1);

  // light colors
  --gray: rgba(142, 142, 156, 1);
  --gray-bg: rgba(247, 248, 248, 1);
  --gray-border: rgba(42, 42, 85, 1);
  --gray-text: rgba(142, 142, 156, 1);
  --light-disabled: rgba(239, 239, 239, 1);
}